* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  body {
    background-color: #fff;
    color: #333;
  }
  
  .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid #ddd;
  gap: 10px;
}

  
  .logo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
  }
  
  .logo-img {
    max-height: 100px;
    object-fit: contain;
  }
  
  .nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }
  .search-icon{
    position:relative;
    left:459px;
    top:-30px;
    width:30px;
    height:100px;
    margin: -42px;
  }
  .search input {
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    left: 450px;
    top:-35px;
   position: relative;
    color: gray;

  }
  
  .login-container {
    max-width: 400px;
    margin: 40px auto;
    text-align: center;
  }
  
  .login-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .login-container p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .back-link {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    bottom:-50px;
    left:-50px;
    position: relative;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: left;
  }
  
  .login-form label {
    font-size: 14px;
    font-weight: bold;
  }
  
  .login-form .required {
    color: red;
  }
  
  .login-form input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .forgot-password {
    font-size: 13px;
    margin-bottom: 10px;
  }
  
  .forgot-password a {
    color: #0073e6;
    text-decoration: none;
  }
  
  .login-form button {
    background-color: #43d243;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .register-link {
    margin-top: 10px;
    font-size: 14px;
  }
  
  .register-link a {
    color: #0073e6;
    text-decoration: none;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    background-color: #f9f9f9;
    font-size: 13px;
    border-top: 1px solid #ccc;
    margin-top: 50px;
  }
  
  .footer-col {
    max-width: 33%;
  }
  