* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* header */
/* Thanh navbar admin */
.admin-navbar {
    display: flex;
    background-color: #35333f;
    /* Màu nền đậm */
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
}

.admin-navbar-item {
    padding: 30px 25px;
    color: #fff;
    text-decoration: none;
    border-left: 1px solid #5c5a65;
    /* Đường kẻ giữa các mục */
    display: flex;
    align-items: center;
}
/* Mục đầu tiên không có đường viền trái */
.admin-navbar-item.left {
    border-left: none;
    font-weight: bold;
}
/* Topbar admin */
.topbar {
    background-color: #2f2e38;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    font-size: 24px;
}

.topbar-left {
    font-weight: bold;
    
}

.topbar-right a {
    color: white;
    text-decoration: none;
    margin-left: 100px;
    border-left:4px solid #555;
    padding-left: 170px
}

.topbar-right a:first-child {
    border-left: none;
    padding-left: 0;
}
body {
    background: #f5f5f5;
}
/* Main Layout */
.admin-container {
    display: flex;
    font-family: sans-serif;
    font-size: 14px;
}

.admin-sidebar {
    width: 200px;
    border-right: 1px solid #ccc;
    padding: 10px;
}

.admin-title {
    font-weight: bold;
    margin-bottom: 10px;
}

.dropdown-label {
    color: #1a73e8;
    cursor: pointer;
}

.admin-main {
    flex: 1;
    padding: 15px;
}

.breadcrumb {
    margin-bottom: 20px;
    color: #1a73e8;
}

.breadcrumb a {
    color: #1a73e8;
    text-decoration: none;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.actions label {
    margin-right: 5px;
}

.search-box {
    padding: 5px;
    border: 1px solid #ccc;
    width: 150px;
}

.filter,
.limit,
#bulk-action {
    padding: 5px;
}

.add-btn {
    background-color: #1a73e8;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}