:root {
  --header-height: 50px;
  --primary-color: #ffdc3f;
  --main-transition: all 0.3s ease;
  --main-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

input {
  outline: none;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 150px;
  cursor: pointer;
}

.row-flex {
  display: flex;
  justify-content: space-between;
}

header .row-flex {
  align-items: center;
}

/* Header Menu */
.header-menu nav ul {
  display: flex;
}

.header-menu nav ul li {
  padding: 0 10px;
  transition: var(--main-transition);
  cursor: pointer;
}

.header-menu nav ul li:hover {
  color: var(--primary-color);
}

/* Search Box */
.header-search {
  position: relative;
}

.header-search i {
  position: absolute;
  right: 7px;
  top: 45%;
  transform: translateY(-50%);
  cursor: pointer;
}

.header-search input {
  width: 300px;
  height: 30px;
  border: 1px solid black;
  padding-left: 10px;
  border-radius: 50px;
}

/* Login Section */
.header-login i {
  font-size: larger;
}

.header-login a {
  font-size: 15px;
  font-weight: 500;
}

.header-login a:hover {
  color: var(--primary-color);
}

/* Cart Section */
.header-cart {
  margin-right: 30px;
}

.header-cart i {
  font-size: larger;
  cursor: pointer;
  position: relative;
}

.header-cart i::after {
  content: attr(number);
  position: absolute;
  display: flex;
  width: 20px;
  height: 20px;
  right: -10px;
  top: -10px;
  background-color: black;
  border-radius: 50%;
  color: var(--main-color);
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: smaller;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .header-search input {
    width: 250px;
  }

  .header-menu nav ul li {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header-search input {
    width: 200px;
  }

  .header-login a {
    font-size: 14px;
  }
}
